<div class="flex md:mt-5 md:mb-12 items-center">
  <div class="md:w-1/2 w-1/4">
    <h1 class="md:text-5xl text-xl">FAQ</h1>
  </div>
  <div class="md:w-1/2 w-3/4 flex items-center justify-end">
    <label class="switch">
      <input type="checkbox" id="live-check" />
      <span class="slider round"></span>
    </label>
    <span class="ml-2 live-text cool-transition">Live</span>
    <%= f.submit "save", class:"capitalize bg-custom-color1 text-white px-6 py-2 rounded-full flex ml-4 items-center" %>
  </div>
</div>

<div class="flex md:mt-0 mt-10">
  <div class="md:w-1/2 w-full">
    <%= f.input_field :question, rows: "10", class: "w-full p-8 text-2xl text-custom-color1 outline-none focus:outline-none border-custom-color1 border border-solid rounded-2xl mb-5", placeholder: "Question..." %>
    <%= f.input_field :answer, rows: "10", class: "w-full p-8 text-2xl text-custom-color1 outline-none focus:outline-none border-custom-color1 border border-solid rounded-2xl mb-5", placeholder: "Answer..." %>
  </div>
</div>



