<div class="flex md:mt-0 mt-10">
  <div class="w-full">
    <%= f.input_field :question, 
      class: "w-full px-5 py-3 text-xl outline-none focus:outline-none border-custom-color1 border border-solid rounded-lg mb-5 focus:text-black", 
      placeholder: "Question..." 
    %>
    <%= f.input_field :answer, 
      class: "w-full px-5 py-3 text-xl outline-none focus:outline-none border-custom-color1 border border-solid rounded-lg mb-5 focus:text-black", 
      placeholder: "Answer..." 
    %>
  </div>
</div>



