<%= render 'mobile_sidebar_non_index' %>
<h2>Details</h2>
<table>
  <tr>
    <td>Question</td><td><%= raw @faq.question %></td>
  </tr>
  <tr>
    <td>Answer</td><td><%= raw @faq.answer %></td>
  </tr>
</table>