
<div class="w-full my-5">
  <label>
    <%= link_to "Jobs", admin_positions_path, class: "text-blue font-semibold" %>
    <span class="mx-1">/</span>
    <span>New Job</span>
  </label>
</div>
<%= simple_form_for @position, url: admin_positions_path do |f| %>
  <div class="flex flex-wrap md:mt-5 md:mb-12 items-center">
    <div class="md:w-1/2 w-full">
      <h1 class="md:text-5xl text-xl">New Job</h1>
    </div>

    <div class="md:w-1/2 w-full flex items-center justify-end">
      <label class="switch">
        <input type="checkbox" id="live-check" />
        <span class="slider round"></span>
      </label>
      <span class="ml-2 live-text cool-transition">Live</span>
      <%= f.submit "Create", class:"capitalize bg-custom-color1 text-white px-6 py-2 rounded-full flex ml-4 items-center" %>
    </div>
  </div>
  <%= render "form", f: f %>
<% end %>

