div class="w-full"
  div class="w-full lg:hidden flex items-center pt-4"
    button id="sidebar-toggle" class="bg-transparent outline-none shadow-none focus:outline-none focus:shadow-none border-0 border-none"
      span class="bg-blue h-1 w-6 mb-1 block"
      span class="bg-blue h-1 w-6 mb-1 block"
      span class="bg-blue h-1 w-6 mb-1 block"

  div class="flex items-center md:py-16 py-4"
    div class="w-1/3 w-full"
      h1 class="md:text-4xl text-2xl font-regular"
        | Landing Pages
    
    div class="w-2/3 flex items-center text-right justify-end"
      a href="#" class="capitalize bg-blue text-white px-4 py-2 rounded-full flex ml-4 items-center"
        span class="mr-3 md:inline hidden"
          | create new template
        

  div class="flex md:flex-nowrap flex-wrap items-start"
    div class="lg:w-1/4 md:w-1/2 w-full relative md:my-0 my-10 md:mr-16 mr-0"
      div class="relative overflow-hidden landing-img rounded-xl mb-5 shadow-lg cursor-pointer"
        img src="../assets/images/google-landing.png" alt="" class="w-full"
        a href="./google-landing-page.html" class="text-white font-regular absolute -left-full top-0 w-full h-full bg-blue flex items-center justify-center text-center capitalize text-xl rounded-xl cool-transition landing-img-link opacity-80"
          | view details
      
      p class="capitalize text-xl"
        | google landing page
      p class="text-sm font-light"
        | Jan 1, 2021

    div class="lg:w-1/4 md:w-1/2 w-full relative md:mb-0 mb-10"
      div class="relative overflow-hidden landing-img rounded-xl mb-5 shadow-lg cursor-pointer"
        

        img src="../assets/images/bing-landing.png" alt="" class="w-full"
        
        a href="#" class="text-white font-regular absolute -left-full top-0 w-full h-full bg-blue flex items-center justify-center text-center capitalize text-xl rounded-xl cool-transition landing-img-link opacity-80"
          | view details

      p class="capitalize text-xl"
        | bing landing page
      p class="text-sm font-light"
        | Dec 1, 2021
