<div class="flex flex-wrap items-center mt-10">
  <div class="md:w-3/5 w-full md:mb-0 mb-6 relative">
    <%= f.input_field :name,
                      class: "w-full py-2 px-4 border-custom-color1 border border-solid rounded-lg md:text-lg outline-none focus:outline-none",
                      placeholder: "Site Name" %>
    <%= f.input_field :logo,
                      class: "w-full py-2 px-4 border-custom-color1 border border-solid rounded-lg md:text-lg my-6 outline-none focus:outline-none",
                      placeholder: "Source Link",
                      as: :file %>
    <%= cl_image_tag f.object.logo %>
  </div>
<div>