
<div class="w-full my-5">
  <label>
    <%= link_to "Review Sites", admin_review_sites_path, class: "text-blue font-semibold" %>
    <span class="mx-1">/</span>
    <span>Edit Review Site</span>
  </label>
</div>
<%= simple_form_for @site, url: admin_review_site_path(@site) do |f| %>
  <div class="flex flex-wrap md:mt-5 md:mb-12 items-center">
    <div class="md:w-1/2 w-full">
      <h1 class="md:text-5xl text-xl">Edit Review</h1>
    </div>
    <div class="md:w-1/2 w-full flex items-center justify-end">
      <%= f.submit "Save", class: "capitalize bg-custom-color1 text-white px-6 py-2 rounded-full flex ml-4 items-center" %>
    </div>
  </div>
  <%= render "form", f: f %>
<% end %>