<div class="main-middle-area main-height-between">    
  <section class="main-half-banner-our-team-section bg-none responsive-padding-top" id="main-banner-section">
    <div class="half-banner-our-team-div our-team-bg-01">

      <div class="content-banner-root">
        <div class="container px-4">
          <div class="row flex flex-wrap">
            <div class="w-full lg:w-1/2">
            
              <div class="content-banner">
                <div class="text-content">
                  <h4>JOIN OUR TEAM</h4>
                  <h1>We’re delightful.</h1>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="our-team-section">
    <div class="our-team-div team-pattern-div01">

      <div class="container px-4 mx-auto px-24-xs">
        <div class="our-team-root">

          <div class="center-container">
            <div class="flex flex-wrap">

              <div class="heading-div mx-auto mb-6 text-center">
                <h2>Join the Auto Approve team</h2>
              </div>

              <div class="center-text-div">
                <p>Based in Maple Grove, MN, Auto Approve was founded in 2016. We’re a nationwide auto loan refinance company, assisting vehicle owners by reducing their interest rates and payments. We work to connect customers with their best option possible from our national list of preferred lenders.</p>
                <p>Auto Approve is always looking for great talent to grow with us. This is a fast-paced environment, so we look for hard-working folks who are passionate, professional and self-motivated. Our team members are always up for a challenge, and we love that about them. We provide paid training and the tools and support you need to be successful. </p>
                <p>Auto Approve holds our employees to a high standard and seeks individuals who are able to represent the company with integrity.  Prospective employees must pass a complete pre-employment background check as part of the screening process.  Auto Approve is a drug-free workplace.</p>
                <p>Don’t see a position that’s right for you, but passionate about our mission? Submit your resume and we’ll keep you in mind for roles that come up in future.</p>
              </div>

            </div>
          </div>
        
        </div>
      </div>
    
    </div>
  </section>
  <%= render "openings" %>
</div>
