<section class="get-quote-main-section mt-6 responsive-padding-top hidden" id="success-section">
  <div class="get-quote-main-div">
    <div class="container container-720 px-4 mx-auto px-22-xs">
      <div class="row flex flex-wrap">
        <div class="w-full lg:w-1/1">
          <div class="heading-div mx-auto">
            <h1><span class="span-color">Congratulations!</span></h1>
            <p>You are on your way to saving money on our vehicles monthly payment.</p>
          </div>
        </div>
        <div class="text-center mx-auto pt-12">
          <%= image_pack_tag "congratulations-img.svg", class: "mx-auto" %>
        </div>
      </div>
    </div>
  </div>
</section>