<section class="get-quote-main-section mt-6 responsive-padding-top hidden" id="success-section">
  <div class="get-quote-main-div">
    <div class="container container-720 px-4 mx-auto px-22-xs">
      <div class="row flex flex-wrap">
        <div class="w-full lg:w-1/1">
          <div class="heading-div mx-auto success-message-header">
            <h1><span class="span-color">Congratulations!</span></h1>
            <p>You are on your way to saving money on your vehicle's monthly payment.</p>
          </div>
        </div>
        <div class="text-center mx-auto pb-4">
          <%= image_pack_tag "congratulations-img.svg", class: "mx-auto" %>
        </div>
        <div class="heading-div mx-auto">
          <h2>What's Next?</h2>
          <p>Your dedicated loan consultant will review your information and reach out to discuss next steps.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="get-quote-main-section mt-6 responsive-padding-top hidden" id="failed-approval-section">
  <div class="get-quote-main-div">
    <div class="container container-720 px-4 mx-auto px-22-xs">
      <div class="row flex flex-wrap">
        <div class="w-full lg:w-1/1">
          <div class="heading-div mx-auto">
            <h1><span class="span-color">Thank you!!</span></h1>
            <p>We are reviewing all of our options and reaching out to our lending partners to try and find a fit for your refinance.</p>
            <p>Fingers Crossed - We are trying to save you money!</p>
            <p>Please call us now or wait for an Auto Approve representative to reach out to you shortly.</p>
          </div>
        </div>
        <div class="text-center mx-auto pt-12">
          <%= image_pack_tag "congratulations-img.svg", class: "mx-auto" %>
        </div>
      </div>
    </div>
  </div>
</section>
