<section class="get-quote-main-section mt-6 responsive-padding-top hidden" id="error-section">
  <div class="container container-720 px-4 mx-auto px-22-xs">
    <div class="row flex flex-wrap">
      <div class="w-full lg:w-1/1">
        <div class="heading-div mx-auto">
          <h1>Something went wrong!</h1>
          <p><%= link_to 'Please click here to try again.', url_for(), class: "underline" %></p>
        </div>
        <div class="text-center mx-auto mb-12">
          <%= image_pack_tag 'icons/atention-purple.png', class: "mx-auto", width: "150" %>
        </div>
      </div>
    </div>
  </div>
</section>