meta name="twitter:card" content="summary"
meta name="twitter:site" content="@AutoApproveRefi"
meta name="twitter:title" content="#{ if content_for?(:metaTitle) then yield(:metaTitle) else 'Auto Approve' end }"
meta name="twitter:description" content="#{ if content_for?(:metaDescription) then yield(:metaDescription) else 'Auto Approve works with multiple banks and credit unions to lower your car payment and help save you money! Getting a quote takes a few minutes — we help take care of the rest.' end }"
meta name="twitter:image" content="#{[root_url, 'logo.png'].join}"


meta property="og:title" content="#{ if content_for?(:metaTitle) then yield(:metaTitle) else 'Auto Approve' end }"
meta name="description" property="og:description" content="#{ if content_for?(:metaDescription) then yield(:metaDescription) else 'Auto Approve works with multiple banks and credit unions to lower your car payment and help save you money! Getting a quote takes a few minutes — we help take care of the rest.' end }"


meta property="og:image" content="#{[root_url, 'logo.png'].join}"
meta property="og:image:width" content="1080"
meta property="og:image:height" content="572"