    <section class="ready-section">
      <div class="our-story-div story-pattern-div01">

        <div class="container px-4 mx-auto px-24-xs">
          <div class="our-story-root">

            <div class="center-container">
              <div class="flex flex-wrap">

                <div class="heading-div mx-auto mb-6 text-center">
                  <h2>Ready to refinance.</h2>
                </div>

                <div class="center-text-div text-center">
                  <p>When you fill out our form to get a quote, we’ll start looking for a lower rate that fits your needs. We’ll even handle the paperwork to lower your payments. (And no, this isn’t just a trick to get your phone number – we’re not like that.)</p>
                </div>

                <div class="w-full">
                  <div class="center-text-div mt-6 mx-auto">
                    <div class="w-max mx-auto">
                      <%= link_to "Get your quote in minutes", quote_path, class: "btn btn-secondary" %>
                    </div>
                  </div>
                </div>

                <div class="center-text-div mx-auto w-full mt-4 small-text">
                  <p>SSN not required.</p>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>
    </section>