.landing-wrapper .bg-none {
  background: none !important;
}

.landing-wrapper .banner-div {
  padding-bottom: 0 !important;
  min-height: auto;
}

.landing-wrapper .main-banner-section {
  min-height: -webkit-fit-content !important;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
}

.landing-wrapper .get-quote-main-div {
  padding-top: 0 !important;
}

@media (max-width: 767px) {
  .main-banner-section {
    padding-bottom: 0 !important;
  }
}
