.active-review-link {
  border-bottom: 1px solid #44e0b7;
}

.review-link {
  position: relative;
  transition: all 0.4s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}

.review-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  transition: all 0.4s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  background: #44e0b7;
}

.review-link:hover::after {
  width: 100%;
}
.select-source img {
  filter: grayscale(1);
  transition: all 0.4s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}

.select-source:hover img {
  filter: grayscale(0);
}

.select-source {
  cursor: pointer;
}

.no-black-img img {
  filter: grayscale(0) !important;
}

.rating-stars ul {
  list-style-type: none;
  padding: 0;

  -moz-user-select: none;
  -webkit-user-select: none;
}
.rating-stars ul > li.star {
  display: inline-block;
}

.rating-stars ul > li.star > i.fa {
  font-size: 2.5em;
  color: rgba(68, 224, 183, .3);
}

.rating-stars ul > li.star.hover > i.fa {
  color: #44e0b7;
}

.rating-stars ul > li.star.selected > i.fa {
  color: #44e0b7;
}
