<% content_for :header_class, "header-dark-div" %>

<div class="main-middle-area main-height-between congratulation-bg">
  <section class="congratulations-quote-section responsive-padding-top" id="main-get-quote-section">
    <div class="congratulations-quote-div">
    
      <div class="container container-750 px-4 mx-auto px-22-xs">
        <div class="row flex flex-wrap">
          <div class="w-full lg:w-1/1">
            
            <div class="heading-top-div mx-auto">
              <h1>Congratulations!</h1>
              <p class="text-center mt-4">You are on your way to saving money on our vehicles monthly payment. </p>
            </div>

            <div class="text-center mx-auto pt-12">
              <%= image_pack_tag "congratulations-img.svg", class: "mx-auto" %>
            </div>

            <div class="title-txt-div mb-7 md:mb-10">
              <h4>What's Next?</h4>
              <p>Your dedicated loan consultant will review your information and reach out to discuss next steps. Please have the following documents ready or upload them below to expedite your loan process.</p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>

</div>
