  <div class="main-middle-area main-height-between">
    
    <section class="faq-main-section responsive-padding-top" id="main-faq-section">
      <div class="faq-main-div">

        <div class="container max-930px px-4 mx-auto px-22-xs">
          <div class="row flex flex-wrap">
            <div class="w-full lg:w-1/1">
              
              <div class="heading-div mx-auto">
                <h1>FAQ</h1>
                <p>These are the questions we get asked the most, 
                  <span class="block"> so we thought we’d answer them for you here. </span> </p>
              </div>

              <div class="faq-collapsable-main-root">
                <div class="faq-collapsable-main-row">

                  <div class="faq-collapsable-box">

                    <% @faq.each_with_index do |faq, index| %>
                      <div id="faq-list-02" class="collapsable collapsable-slide-new ca-collapsed">
                        <h5 class="ca-control"> <a href="#"> <span class="text"> <span class="left-text">Q:</span> <span class="text-right-span"><%= faq.question.html_safe %></span> </span>  <span class="bg-custom-icon down-arrow-icon"></span> </a> </h5>
                        <div class="ca-box">
                          <div class="content-collapsable-inner-div">
                            <div class="content-collapsable-inner-row">

                              <div class="text-div">
                                <p class="prag-text"><%= raw faq.answer.html_safe %></p>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>

                  </div>

                </div>
              </div>

              <div class="card-faq-botom-div">
                <div class="card-faq-botom-div-inner">
                  <h4>Don’t see the answer you’re looking for?</h4>
                  <p>Check out our resources page for more topics or simply
                  <%= link_to "contact us", contact_us_path, class: "link" %>.
                  Our answer gurus are waiting.</p>
                </div>    
              </div>
              
            </div>
          </div>
        </div>

      </div>
    </section>

  </div>

<script>
  $(document).on('turbolinks:load', function () {
    $(".collapsable-slide-new").collapsable({
      fx: "slide",
      fxDuration: 300,
    });
  });
</script>