<div class="main-middle-area main-height-between">
  
  <section class="general-main-section responsive-padding-top" id="main-legal-stuff-section">
    <div class="general-main-div">

      <div class="container max-930px px-4 mx-auto px-22-xs">
        <div class="row flex flex-wrap">
          <div class="w-full lg:w-1/1">
            
            <div class="heading-div mx-auto">
              <h1>Privacy Policy</h1>
              <p>Date last revised December 10, 2020</p>
            </div>

            <div class="general-main-root">
              <div class="general-root-row">

                <p class="prag-txt md:mb-6 lg:mb-6 mb-4">
                  Auto Approve, LLC (“Company”, “us,” “our”, or “we”) has developed a comprehensive privacy program designed to respect and protect your data privacy rights, including compliance with the California Consumer Privacy Act. This Privacy Notice explains how we secure your data, what personal information we receive and collect through our Internet website <a href="http://www.autoapprove.com" class="text-blue-color1">www.autoapprove.com</a>, mobile application(s), and any other features via the site (collectively the “Service”), and how we use that information. 
                </p>
                
                <p class="prag-txt md:mb-6 lg:mb-6 mb-4">
                  This Privacy Notice tells you about your privacy rights and how the law protects you. We use your personal data to provide and improve the Service. By using this Service, you agree to the collection and use of information in accordance with this Privacy Notice. This Privacy Notice applies where we are acting as a data controller with respect to the personal data of our website visitors and other platforms that we utilize to perform our business; in other words where we determine the purposes and means of the processing of that personal data.
                </p>
                
                <div class="text-div-row md:mb-6 lg:mb-10 mb-4">
                  <h4 class="md:mb-4 lg:mb-2 mb-2">Information Receipt Collection and Usage</h4>
                  <p class="prag-txt text-color-01">
                    Please Note: Auto Approve does not sell your personal information
                  </p>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">
                    When you visit our website, we may collect certain information automatically through our Service, such as the Internet Protocol (IP) address used to connect your computer to the Internet, your ISP provider, device usage, browser and cookie information, user behavior, page navigation, referring sites, countries of origin, information about your operating system, and other statistics (“Analytics”).
                  </p>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">
                    We may use mobile applications to provide our Service. If you use our mobile application, we may request information about your device, including device type, unique device identifiers, and mobile location data (if you have activated a mobile application with us and permitted your mobile device to transmit location data). Our mobile applications may also request certain permissions for certain device functions and collect information about the device and its settings. We use mobile device data to improve our quality of service and functions and collection information about the device and its settings. We use mobile device data to improve our quality of service and market relevant products. You may opt-out of this collection or withdraw permission by changing the settings on your mobile device.
                  </p>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">
                    You may provide your name, mailing address, phone number, and an email address when you contact us via our website or call us. You should be aware that when you submit a message to us via our website, your correspondence is stored for the purpose of providing customer support. Our purpose in collecting this personal information is to provide you with the best customer service possible to better serve you.
                  </p>
                </div>

                <div class="text-div-row">
                  <h4 class="md:mb-4 lg:mb-2 mb-2">How We Use Your Information and Basis for Processing</h4>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">We will limit the collection and use of personal information to what is necessary to administer our business. The legal ground for processing this information is Company’s legitimate interests.</p>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">The Company may use Personal Data for the following purposes:</p>
                  <ul class="prag-txt md:mb-10 lg:mb-10 mb-6">
                    <li><b>To provide and maintain our Service</b>, including the refinancing of existing auto loan/lease obligations though our network of Lending Partners</li>
                    <li><b>For the performance of a contract</b> for Services for our clients</li>
                    <li><b>To contact You:</b> To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.</li>
                    <li><b>To provide You</b> with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless You have opted not to receive such information.</li>
                    <li><b>To manage Your requests:</b> To attend and manage Your requests to Us.</li>
                  </ul>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">
                    We may share your personal information in the following situations:
                  </p>
                  <ul class="prag-txt md:mb-10 lg:mb-12 mb-6">
                    <li><b>With Service Providers:</b> We may share Your personal information with Service Providers to monitor and analyze the use of our Service, to show advertisements to You to help support and maintain Our Service, and to contact You.</li>
                    <li><b>For Business transfers:</b> We may share or transfer Your personal information in connection with, or during negotiations of, any merger, sale of Company assets, financing, or acquisition of all or a portion of our business to another company.</li>
                    <li><b>With Affiliates:</b> We may share Your information with Our affiliates, in which case we will require those affiliates to honor this Privacy Notice. Affiliates include Our parent company and any other subsidiaries, joint venture partners or other companies that We control or that are under common control with Us.</li>
                    <li><b>With Business partners:</b> We may share Your information with Our business partners to offer You certain products, services or promotions.</li>
                  </ul>
                </div>

                <div class="text-div-row">
                  <h4 class="md:mb-4 lg:mb-2 mb-2">Disclosure of Information to Third Parties</h4>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">In connection with the purposes set out above, we may share and disclose your information with:</p>
                  <ul>
                    <li><b>Analytics and search engine providers that assist us in the improvement and optimization of our website; and </b></li>
                    <li><b>Any group or entity involving in the buying or selling of any assets, potential or actual acquisition, or merger of our company.</b></li>
                    <li>
                      <p class="prag-txt md:mb-6 lg:mb-6 mb-4"><b>The collected information may be disclosed to our affiliated companies to perform services for us or functions on our behalf including, but not limited to, financial institutions, third-party vendors, and title processing companies with whom we share joint service agreements. These companies are not permitted to utilize the information we share with them for any other purpose that is not related with the services provided by Company.</b></p>
                      <p class="prag-txt md:mb-6 lg:mb-6 mb-4"><b>When permitted or required by law, we will share your personal information with government entities, such as regulatory agencies, law enforcement, and judicial authorities, or private parties:</b></p>

                      <ul class="prag-txt md:mb-10 lg:mb-10 mb-4 md:pl-6 lg:pl-10 pl-3">
                        <li>To respond to claims and legal proceedings (including subpoenas and court orders);</li>
                        <li>To enforce or apply any of our terms and conditions and other agreements;</li>
                        <li>To protect our property, rights and safety;</li>
                        <li>To protect the property, rights, and safety of a third party or the public in general; and</li>
                        <li>To stop any activity that we believe is illegal, unethical, or legally actionable.</li>
                      </ul>
                    </li>
                  </ul>
                </div>

                <div class="text-div-row md:mb-10 lg:mb-10 mb-6">
                  <h4 class="md:mb-4 lg:mb-2 mb-2">Protecting and Storing Your Information</h4>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">We are committed to protecting the information entrusted to us. We have implemented reasonable and appropriate physical, technical and administrative procedures to safeguard this information from loss, misuse, unauthorized access or disclosure, alteration and destruction. The information that we collect from you is stored securely. It shall be stored for as long as it is legally required or reasonably necessary for the purposes for which it was collected. We will retain your personal data for a maximum period of seven years. Notwithstanding the other provisions of this section, we may retain your personal data where such retention is necessary for compliance with a legal or contractual obligation to which we are subject, or in order to protect your vital interests or the vital interest of another national person. </p>
                </div>

                <div class="text-div-row md:mb-10 lg:mb-10 mb-6">
                  <h4 class="md:mb-4 lg:mb-2 mb-2">Cookie Policy</h4>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">Some of our website pages may use a technology called “cookies.” A cookie is a token that a server gives to your browser when you access an Internet website. Cookies are capable of storing many types of data. Cookies can help provide additional functionality to the website or help us analyze site usage more accurately. Information gathered from the use of cookies may be combined with other data sources to identify you.</p>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">We use cookies for one or more of the following reasons: to personalize content, provide social media features, and/or analyze traffic to the website. We also may share information about your use of the website with our advertising and analytics partners.</p>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">We do not collect, and it is not our current policy to allow third parties to collect “targeted” cookies (persistent identifiers tracking users over time across different sites and services) for marketing purposes.</p>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">We may, from time to time, and subject to our Privacy Notice, use technologies similar to cookies, including web beacons, pixel tags, flash objects, location tracking and/or third-party widgets. We use this information to enhance your web or mobile experience and to allow you to share information on other platforms, including social media.</p>
                </div>

                <div class="text-div-row md:mb-10 lg:mb-10 mb-6">
                  <h4 class="md:mb-4 lg:mb-2 mb-2">Third Party Links</h4>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">We may provide links to third-party Internet sites strictly as a service to you. We are not responsible for the privacy practices of third-party Internet sites. If you leave the Sites, you should be sure to read the privacy notice of each Internet site that you visit.</p>
                </div>

                <div class="text-div-row md:mb-10 lg:mb-10 mb-6">
                  <h4 class="md:mb-4 lg:mb-2 mb-2">Cross-Border Transfers of Personal Data</h4>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">Your information, including Personal Data, is processed at the Company’s operating offices and in any other places where the parties involved in the processing are located and may be transferred to – and maintained on – computers located outside of your state, province, or other government jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
                </div>

                <div class="text-div-row md:mb-10 lg:mb-10 mb-6">
                  <h4 class="md:mb-4 lg:mb-2 mb-2">CCPA Privacy</h4>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">Under this Privacy Notice, and by law, if You are a resident of California, You have the following rights:</p>
                  <ul class="prag-txt md:mb-10 lg:mb-10 mb-4 md:pl-6 lg:pl-10 pl-3">
                    <li><b>The right to notice.</b> You must be properly notified which categories of Personal Data are being collected and the purposes for which the Personal Data is being used.</li>
                    <li><b>The right to access / the right to request.</b> The CCPA permits You to request and obtain from the Company information regarding the disclosure of Your Personal Data that has been collected in the past 12 months by the Company or its subsidiaries to a third-party for the third party’s direct marketing purposes.</li>
                    <li>
                      <b>The right to say no to the sale of Personal Data.</b> You also have the right to ask the Company not to sell Your Personal Data to third parties. You can submit such a request by visiting our "Do Not Sell My Personal Information" section or web page.
                      <ul class="prag-txt md:mt-6 lg:mt-6 mt-4 md:mb-10 lg:mb-10 mb-4 md:pl-6 lg:pl-10 pl-3">
                        <li>Note:  Auto Approve does <b><u>NOT</u></b> sell your personal information</li>
                      </ul>
                    </li>
                    <li>
                      <b>The right to know about Your Personal Data.</b> You have the right to request and obtain from the Company information regarding the disclosure of the following:
                      <ul class="prag-txt md:mt-6 lg:mt-6 mt-4 md:mb-10 lg:mb-10 mb-4 md:pl-6 lg:pl-10 pl-3">
                        <li>The categories of Personal Data collected</li>
                        <li>The sources from which the Personal Data was collected</li>
                        <li>The business or commercial purpose for collecting or selling the Personal Data</li>
                        <li>Categories of third parties with whom We share Personal Data</li>
                        <li>The specific pieces of Personal Data we collected about You</li>
                      </ul>
                    </li>
                    <li><b>The right to delete Personal Data.</b> You also have the right to request the deletion of Your Personal Data that have been collected in the past 12 months with certain exceptions.</li>
                    <li><b>The right not to be discriminated against.</b> You have the right not to be discriminated against for exercising any of Your Consumer's rights, including by:
                      <ul class="prag-txt md:mt-6 lg:mt-6 mt-4 md:mb-10 lg:mb-10 mb-4 md:pl-6 lg:pl-10 pl-3">
                        <li>Denying goods or services to You</li>
                        <li>Charging different prices or rates for goods or services, including the use of discounts or other benefits or imposing penalties</li>
                        <li>Providing a different level or quality of goods or services to You</li>
                        <li>Suggesting that You will receive a different price or rate for goods or services or a different level or quality of goods or services.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="text-div-row md:mb-10 lg:mb-10 mb-6">
                  <h4 class="md:mb-4 lg:mb-2 mb-2">Exercising Your CCPA Data Protection Rights</h4>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">In order to exercise any of Your rights under the CCPA, and if you are a California resident, you can email or visit our "California Consumer Privacy Act (CCPA) Privacy Rights Manager” via the direct link or email address below.</p>
                  <p class="prag-txt">Direct Link:</p>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4"><a href="https://ccpa.autoapprove.com" class="text-blue-color1" target="_blank">https://ccpa.autoapprove.com</a></p>
                  <p class="prag-txt">Email:</p>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4"><a href="mailto:ccparequests@autoapprove.com" class="text-blue-color1">ccparequests@autoapprove.com</a></p>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">The Company will disclose and deliver the required information free of charge within 45 days of receiving Your verifiable request. The time period to provide the required information may be extended once by an additional 45 days when reasonably necessary and with prior notice. </p>
                </div>

                <div class="text-div-row md:mb-10 lg:mb-10 mb-6">
                  <h4 class="md:mb-4 lg:mb-2 mb-2">Children’s Privacy</h4>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">Our Service is not directed to individuals under the age of 18. We do not knowingly collect or use any personal data from users under 18 years of age. No information should be submitted to our website from visitors under 18 years of age. You must be 18 years or older to purchase and/or use our Service. If we learn that we have collected personal data from someone under 18, we will take steps to delete the information as soon as possible.</p>
                </div>

                <div class="text-div-row md:mb-10 lg:mb-10 mb-6">
                  <h4 class="md:mb-4 lg:mb-2 mb-2">“Do Not Track” Policy as Required by California Online Privacy Protection Act (CalOPPA)</h4>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">The “Do Not Track” Signal is a feature that enables you to send a signal to websites, analytics companies, ad networks, plug in providers, and other web services you encounter to stop tracking your activities. We do not currently respond to a “Do Not Track” signals. However, some third party websites do keep track of Your browsing activities. If You are visiting such websites, You can set Your preferences in Your web browser to inform websites that You do not want to be tracked. You can enable or disable DNT by visiting the preferences or settings page of Your web browser.</p>
                </div>

                <div class="text-div-row md:mb-10 lg:mb-10 mb-6">
                  <h4 class="md:mb-4 lg:mb-2 mb-2">Changes to this Privacy Notice</h4>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">It is our policy to post any changes we make to this Privacy Notice on this website or within our mobile application. The date that this Privacy Notice was last revised is identified at the top of the page. Please periodically visit our website or mobile application and this Privacy Notice to check for any changes. You are advised to review this Privacy Notice periodically for any changes. Changes to this Privacy Notice are effective when they are posted on this page.</p>
                </div>

                <div class="text-div-row md:mb-10 lg:mb-10 mb-6">
                  <h4 class="md:mb-4 lg:mb-2 mb-2">Marketing</h4>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">We may use your data to provide you with information about our services, products and special offers. We may also permit certain third-party companies to help us deliver customized advertising that we feel would be of interest to you based on your use of the Service. If you do not wish to have this information used for the purpose of delivering targeted ads, you may opt-out.</p>
                </div>

                <div class="text-div-row md:mb-10 lg:mb-10 mb-6">
                  <h4 class="md:mb-4 lg:mb-2 mb-2">Subject Access Requests</h4>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">You can make a request to use in relation to these rights at any time by:</p>
                  <ul class="prag-txt md:mt-6 lg:mt-6 mt-4 md:mb-10 lg:mb-10 mb-4 md:pl-6 lg:pl-10 pl-3">
                    <li>(1) Submitting a Subject Access Request; or</li>
                    <li>(2) Sending an email to the email address provided above.</li>
                  </ul>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">Any information to which you are entitled will be provided within a reasonable timeframe, subject to the exemptions stipulated in applicable data protection laws. If you believe the information we are holding about you is incorrect or incomplete, please contact us as soon as possible, via one of the methods listed above. We will promptly correct any information found to be incorrect.</p>
                </div>

              </div>
            </div>
            
          </div>
        </div>
      </div>

    </div>
  </section>

</div>