  <div class="main-middle-area main-height-between">
    
    <section class="general-main-section responsive-padding-top" id="main-tos-section">
      <div class="general-main-div">

        <div class="container max-930px px-4 mx-auto px-22-xs">
          <div class="row flex flex-wrap">
            <div class="w-full lg:w-1/1">
              
              <div class="heading-div mx-auto">
                <h1>Terms of Service</h1>
                <p>By submitting a refinancing inquiry through Auto Approve, you are agreeing to the following Terms and Conditions: </p>
              </div>

              <div class="general-main-root">
                <div class="general-root-row">

                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">You authorize Auto Approve to pull your credit report for prequalification purposes and to solicit an offer to finance your loan from our lender network.  You also authorize any lender to which Auto Approve subsequently submits your application for credit to pull your credit report to evaluate your application.</p>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">You represent that the information that you have provided in the inquiry and application process is true and complete, and that you are over the age of 18 and have the power and authority to enter and perform your obligations under any credit arrangement that may be offered.</p>  
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">You may withdraw your inquiry or application at any time;</p>  
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">You have read the Auto Approve Privacy Policy and consent to the sharing of the information you have provided in the inquiry or application obtained by Auto Approve with our lender network.</p>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">Auto Approve does not guarantee that a lender will make you an offer to refinance your loan and loans are only available to residents of states where Auto Approve or it’s lender network is licensed (if required) or authorized to make loans.</p>
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">Terms and Conditions shall be subject to the laws of the State of Minnesota.</p>  
                  <p class="prag-txt md:mb-6 lg:mb-6 mb-4">CUSTOMER COMMUNICATIONS: By accepting these Terms and Conditions, you expressly consent to be contacted by us, our agents, representatives, affiliates, or anyone calling on our behalf for all purposes, at any telephone number, or physical or electronic address you provide or at which you may be reached. The purpose of such contact may include, but not be limited to, questions or information about your inquiry, application or existing motor vehicle loan.  You agree we may contact you in any way, including SMS messages (including text messages), calls using prerecorded messages and calls and messages delivered using an auto telephone dialing system or an automatic texting system. Automated messages may be played when the telephone is answered, whether by you or someone else. If an agent or representative calls, he or she may also leave a message on your answering machine, voice mail, or send one via text.  You represent and confirm that the telephone numbers that you provide to us are your telephone numbers and not someone else's.</p>
                  
                </div>
              </div>
              
            </div>
          </div>
        </div>

      </div>
    </section>

  </div>