<div class="main-middle-area main-height-between">
    
  <section class="main-not-found-section bg-none responsive-padding-top" id="main-banner-section">
    <div class="half-not-found-div">

      <div class="content-banner-root">
        <div class="container px-4">
          <div class="row flex flex-wrap">
            <div class="w-full lg:w-1/2">
            
              <div class="content-banner">
                <div class="text-content">
                  <h1>500</h1>
                  <p> <span class="block">Looks like something went wrong. </span>
                    <span class="block">Why don’t you head back home?</span> </p>
                  <div class="btn-div">
                    <%= link_to "Take me home", root_path, class: "btn btn-primary" %>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>
