<div class="dashboard_righttop flex">
  <div class="flex-1">
    <h1>Landign Page</h1>
  </div>
  <div class="flex-1 flex items-center justify-end">
    <img src="images/search.png" alt="search-icon">
    <button class="hover">Create New Template +</button>
  </div>
</div>
<!----content bottom section-->
<div class="dashboard_rightcontent flex justify-start ">
  <div class="dashboard_rightlist p-4">
    <div class="dashboard_rightlistin">
      <img src="images/google-landing.png">
      <a href="google-landing.html">View Details</a>
    </div>
    <h2>Google Landing Page</h2>
    <p>Jan 1 2021</p>
  </div>
  <div class="dashboard_rightlist p-4">
    <div class="dashboard_rightlistin">
      <img src="images/being-landing.png">
      <a href="bing-landing.html">View Details</a>
    </div>
    <h2>Bing Landing Page</h2>
    <p>Jan 1 2021</p>
  </div>
</div>
