<div class="flex md:flex-nowrap flex-wrap items-start">
  <% @themes.each do |theme| %>
    <div class="lg:w-1/4 md:w-1/2 w-full relative md:my-0 my-10 md:mr-16 mr-0">
      <div class="relative overflow-hidden landing-img rounded-xl mb-5 shadow-lg cursor-pointer">
        <%= image_pack_tag "google-landing.png", class: "w-full" %>
        <%= link_to 'view details', theme_landings_admin_landings_path(theme.name),
          class:"text-white font-regular absolute -left-full top-0 w-full h-full bg-blue flex items-center justify-center text-center capitalize text-xl rounded-xl cool-transition landing-img-link opacity-80"
        %>

      </div>
      <p class="capitalize text-xl"><%= theme.name %></p>
      <p class="text-sm font-light">Dec 1, 2021(mockup date, change-me)</p>
    </div>
  <% end %>
</div>

