.join-our-team-title-section {
  background: #fff url(../images/newStyle/images/Team.svg) no-repeat;
  background-size: 550px;
  background-size: 550px;
  background-position: 75% 50%;
  min-height: 600px;
  display: flex;
  align-items: center;
}

@media (min-width: 1025px) and (max-width: 1440px) and (min-width: 1025px) and (max-width: 1290px) {
  .join-our-team-title-section {
    background-position: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .join-our-team-title-section {
    background-size: 60%;
    background-position: 100%;
  }
}

@media (max-width: 768px) {
  .join-our-team-title-section {
    background: none;
  }
}