.bg-section {
  background: #fff url(../images/newStyle/images/bg-404.svg) no-repeat;
  background-size: 900px;
  background-position: calc(100% - 50px) 50%;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .bg-section {
    background-position: 125%;
    background-size: 900px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) and (min-width: 1025px) and (max-width: 1290px) {
  .bg-section {
    background-position: 125%;
    background-size: 65%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .bg-section {
    background-size: 68%;
    background-position: 125%;
  }
}

@media (max-width: 768px) {
  .bg-section {
    background: none;
  }
}  