

input:focus,
select:focus,
.form-control:focus,
textarea:focus,
button:focus {
  @apply outline-none shadow-none;
}

select {
  background: url(../images/newStyle/icons/arrow-bottom-green.svg) 12px no-repeat white;
  background-position: calc(100% - 16px) center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
-webkit-box-shadow: 0 0 0 30px white inset !important;
}

header {
  @apply flex justify-center
}

.dropdown {
  @apply relative inline-block;
}

.dropdown-content {
  @apply hidden absolute text-gray2 bg-white z-10;
}

.dropdown-sub-content {
  box-shadow: 10px 5px 80px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-content {
  @apply block;
}

.triangle {
  @apply absolute left-0 -top-2 w-0 h-0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}

.btn {
  @apply rounded-full px-8 py-3.5 font-bold;
}
.btn-purple {
  @apply bg-purple2 text-white;
}
.btn-purple:hover {
  @apply bg-purple1
}

.btn-green {
  @apply bg-lightgreen text-gray2;
}
.btn-green:hover {
  @apply bg-green
}

.flex-between {
  @apply flex items-center justify-between;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-col-center {
  @apply flex items-center flex-col;
}

.hero-section {
  background: #fff url(../images/newStyle/images/home-banner-without-cloud.svg) no-repeat;
  @apply bg-bottom bg-contain h-screen;
}

.hero-mobile {
  background: #fff url(../images/newStyle/images/home-banner-without-cloud-mobile.svg) no-repeat;
  width: 90vw;
  @apply bg-bottom bg-contain h-screen;
}

/* Resource arrow slide */
.arrow-div {
  position: relative;
  width: 28px;
  height: 28px;
}

.arrow-img {
  position: absolute;
}

.arrow-div:hover .arrow-img {
  animation: arrow-slide .7s linear;
  -webkit-animation: arrow-slide .7s linear;
}

@keyframes arrow-slide {
  0% {
    left: 0;
    opacity: 1;
  }
  35% {
    left: 40px;
    opacity: 0;
  }
  70% {
    left: -30px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes arrow-slide {
  0% {
    left: 0;
    opacity: 1;
  }
  35% {
    left: 40px;
    opacity: 0;
  }
  70% {
    left: -30px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

.spin {
  position: relative;
  width: 38px;
  height: 38px;
  padding: 0;
  border: solid 2px white;
}

.spin:hover {
  color: white;
  border: none;
}

.spin::before,
.spin::after {
  top: 0;
  left: 0;
}

.spin::before {
  border: 2px solid transparent;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.spin:hover::before {
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;

  transition:
    border-top-color 0.3s linear,
    border-right-color 0.3s linear 0.20s,
    border-bottom-color 0.3s linear 0.40s;
  -webkit-transition: 
    border-top-color 0.3s linear,
    border-right-color 0.3s linear 0.20s,
    border-bottom-color 0.3s linear 0.40s;
}

.spin::after {
  border: 0 solid transparent;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.spin:hover::after {
  border-top: 2px solid white;
  border-left-width: 2px;
  border-right-width: 2px;
  transform: rotate(270deg);
  transition:
    transform 0.8s linear 0s,
    border-left-width 0s linear 0.7s;
  -webkit-transition: 
    transform 0.8s linear 0s,
    border-left-width 0s linear 0.7s;
}

.circle {
  border-radius: 100%;
  box-shadow: none;
}
.circle::before,
.circle::after {
  border-radius: 100%;
}

/* Css classes for range input */
.range {
  -webkit-appearance: none;
  @apply align-middle outline-none border-none p-0 bg-none;
}

.range::-webkit-slider-runnable-track {
  @apply bg-purple2 h-0.5;
}

.range::-ms-track {
  @apply text-transparent border-none bg-none h-0.5;
}

.range::-ms-tooltip { 
  @apply hidden; 
}

.range:active::-moz-range-thumb {
  @apply outline-none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  @apply rounded-full bg-white border-2 border-solid border-purple2 h-4 w-4 -mt-2 cursor-pointer;
}

.range:active::-webkit-slider-thumb {
  @apply outline-none;
}

.range:active::-ms-thumb {
  @apply border-none;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Admin CSS */

/* Layout */
.admin-side {
  @apply py-16 max-sm:py-12 min-h-100vh bg-gray2 w-84 min-w-84 max-sm:w-64 max-sm:min-w-64;
}
.admin-side-item {
  @apply mb-8 py-1 max-sm:mb-5 flex items-center cursor-pointer pl-14 max-sm:pl-7 hover:font-bold;
}
.admin-side-active {
  @apply border-l-4 border-lightgreen font-bold;
}
.admin-main {
  @apply flex flex-col flex-1 overflow-hidden bg-gray13;
}
.admin-header {
  @apply pt-8 pb-8 px-20 max-lg:p-6 max-lg:pb-0;
}
.admin-wrap {
  @apply container py-8 px-20 max-sm:px-6 max-sm:py-4;
}

/* Table */
.table-th {
  @apply px-8 py-4 font-normal text-left text-xs text-gray3 tracking-wider;
}
.table-td {
  @apply px-8 py-4 border-t border-gray15 text-sm;
}
table {
  @apply bg-white rounded-2xl;
}

.btn-outline-purple {
  @apply text-purple2 hover:text-white hover:bg-purple2 border border-purple2 py-1.5 px-8 rounded-full;
}

.status-live {
  @apply text-lightgreen bg-lightblue font-bold text-center rounded-2xl py-1 px-4;
}
.status-archived {
  @apply text-black bg-gray16 font-bold text-center rounded-2xl py-1 px-4;
}
.status-pedding {
  @apply text-yellow bg-lightyellow font-bold text-center rounded-2xl py-1 px-4;
}


/* live switch */
.switch {
  @apply relative inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  @apply opacity-0 w-0 h-0;
}

.slider {
  @apply absolute cursor-pointer inset-0 bg-gray3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  @apply bg-lightgreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px #44E0B7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}  


@font-face {
  font-family: 'TypoGrotesk';
  src: url('../images/newStyle/font/TypoGrotesk.woff') format('woff');
  font-display: swap;
}

body {
  font-family: 'TypoGrotesk'
}



/* Scroll Bar */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.fit-content {
  width: fit-content;
}



.overpaying-section {
  position: relative;
}

.overpaying-section::before {
  content: "";
  background: url(../images/newStyle/images/piece2.svg) no-repeat;
  background-size: contain;
  position: absolute;
  top: 180px;
  left: 100px;
  width: 60px;
  height: 60px;
}


.overpaying-section::after {
  content: "";
  background: url(../images/newStyle/images/piece1.svg) no-repeat;
  background-size: contain;
  position: absolute;
  top: 60px;
  right: 120px;
  width: 30px;
  height: 30px;
}

.overpaying-sub-section {
  position: relative;
}

.overpaying-sub-section::before {
  content: "";
  background: url(../images/newStyle/images/piece3.svg) no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -50px;
  right: 180px;
  width: 74px;
  height: 93px;
}

.auto-approve-section {
  padding: 50px 0 60px;
  background: url(../images/newStyle/images/piece4.svg) no-repeat;
  background-size: 450px 590px;
  background-position: 0% 130%;
  margin: 0;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1023px) { 
  .overpaying-section::before {
    top: 150px;
    left: 60px;
    width: 36px;
    height: 36px;
  }
  .overpaying-section::after {
    top: 55px;
    right: 90px;
    width: 20px;
    height: 20px;
  }
  .overpaying-sub-section::before {
    right: 140px;
    width: 52px;
    height: 72px;
  }
}

@media (max-width: 767px) {
  .overpaying-section::before, .overpaying-section::after, .overpaying-sub-section::before {
    width: 0px;
    height: 0px;
  }
}