.why-auto-approve-title-section {
  background: #fff url(../images/newStyle/images/AutoApprove.svg) no-repeat; 
  background-size: 500px;
  background-position: 75% 80px;
  min-height: 650px;
  display: flex;
  align-items: center;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .why-auto-approve-title-section {
    background-size: 450px;
    background-position: 75% 90px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .why-auto-approve-title-section {
    background-size: 45%;
    min-height: 510px;
    background-position: 85%;
  }
}

@media (max-width: 768px) {
  .why-auto-approve-title-section {
    background: none;
    min-height: auto;
  }
}

.overpaying-section {
  position: relative;
}

.overpaying-section::after {
  content: "";
  background: url(../images/newStyle/images/piece1.svg) no-repeat;
  background-size: contain;
  position: absolute;
  top: 60px;
  left: 120px;
  width: 30px;
  height: 30px;
}

.overpaying-sub-section {
  position: relative;
}

.overpaying-sub-section::before {
  content: "";
  background: url(../images/newStyle/images/piece2.svg) no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -30px;
  right: 180px;
  width: 60px;
  height: 60px;
}

@media (min-width: 768px) and (max-width: 1023px) { 
  .overpaying-section::after {
    top: 55px;
    left: 90px;
    width: 20px;
    height: 20px;
  }
  .overpaying-sub-section::before {
    right: 140px;
    width: 40px;
    height: 40px;
    bottom: -20px;
  }
}

@media (max-width: 767px) {
  .overpaying-section::after, .overpaying-sub-section::before {
    width: 0px;
    height: 0px;
  }
}