  <div class="w-1/2 pt-4">
    <button
      id="sidebar-toggle"
      class="bg-transparent outline-none shadow-none focus:outline-none focus:shadow-none border-0 border-none"
    >
      <span class="bg-blue-light h-1 w-6 mb-1 block"></span>
      <span class="bg-blue-light h-1 w-6 mb-1 block"></span>
      <span class="bg-blue-light h-1 w-6 mb-1 block"></span>
    </button>
  </div>
