<div class="w-full lg:hidden flex items-center pt-4">
  <button
    id="sidebar-toggle"
    class="bg-transparent outline-none shadow-none focus:outline-none focus:shadow-none border-0 border-none"
  >
    <span class="bg-blue h-1 w-6 mb-1 block"></span>
    <span class="bg-blue h-1 w-6 mb-1 block"></span>
    <span class="bg-blue h-1 w-6 mb-1 block"></span>
  </button>
</div>
<div class="flex items-center md:py-16 py-4">
  <div class="w-1/3 w-full">
    <h1 class="md:text-4xl text-2xl font-regular">Landing Pages</h1>
  </div>
  <div class="w-2/3 flex items-center text-right justify-end">
    <button
      class="shadow-none outline-none border-none border-0 focus:outline-none focus:shadow-none"
    >
      <%= image_pack_tag "dashboard/search.svg", width: "20" %>
    </button>
    <a
      href="#"
      class="capitalize bg-blue text-white px-4 py-2 rounded-full flex ml-4 items-center"
    >
      <span class="mr-3 md:inline hidden">create new template</span>
      <%= image_pack_tag "dashboard/plus.svg", width: "10" %>
    </a>
  </div>
</div>